<div id="form-con" class = "container mt-2">
  <div class="row">
    <div class="col-12 text-center">
        <h1><%=t('not_found.title') %><br></h1>
        <p><%=t('not_found.content') %></p>
        <img src="/crying.jpg" alt="not_found" class=" mx-auto img-fluid center-block" />
    </div>
  </div>
</div>